attr==0.3.2
ConfigParser==7.2.0
contextlib2==21.6.0
cryptography==41.0.5
Django==5.0.3
django_allauth==64.2.1
django_countries==7.6.1
docutils==0.21.2
HTMLParser==0.0.2
importlib_metadata==7.0.1
ipython==8.31.0
ipywidgets==8.1.6
Jinja2==3.1.2
jnius==1.1.0
keyring==25.6.0
lockfile==0.12.2
mock==5.2.0
Pillow==11.2.1
protobuf==6.30.2
pyOpenSSL==24.2.1
pyOpenSSL==25.0.0
python-decouple==3.8
railroad==0.5.0
Sphinx==8.2.3
stripe==12.0.0
thread==2.0.5
tornado==6.4.2
truststore==0.10.1
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
