<footer class="page-footer text-center font-small mt-4 wow fadeIn bg-dark ">

    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">
      <a href="https://www.facebook.com/ArtfulAura" target="_blank">
        <i class="fab fa-facebook-f mr-3"></i>
      </a>
      <a href="https://www.tiktok.com/ArtfulAura" target="_blank">
        <i class="fab fa-instagram mr-3"></i>
      </a> 
       <a href="https://www.whatsapp.com/ArtfulAura" target="_blank">
        <i class="fab fa-whatsapp mr-3"></i>
      </a>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2019 Copyright:
      <a href="https://ArtfulAura+.com/" target="_blank"> ArtfulAura+.com </a>
    </div>
    <!--/.Copyright-->

  </footer>