<footer class="bg-dark text-white text-center rounded-top mt-5 py-3 fadeIn px-2 shadow-sm">
  <div class="container">

    <!-- Social icons -->
    <div class="mb-2">
      <a href="https://www.facebook.com/ArtfulAura" target="_blank" class="text-white mx-2">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://www.tiktok.com/ArtfulAura" target="_blank" class="text-white mx-2">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.whatsapp.com/ArtfulAura" target="_blank" class="text-white mx-2">
        <i class="fab fa-whatsapp"></i>
      </a>
    </div>

    <!-- Copyright -->
    <small class="d-block text-muted">
      © 2024 
      <a href="https://ArtfulAura.com/" class="text-info text-decoration-none" target="_blank">
        ArtfulAura.com
      </a>
    </small>

  </div>
</footer>
