{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

  <main >
    <div class="container wow fadeIn">
      <h2 class="my-5 h2 text-center">Checkout form</h2>
      <div class="row">
        <div class="col-md-8 mb-4">
          <div class="card">         
              <hr class="mb-4"> 
              {% if method == 'esewa' %}
              {% csrf_token  %}
              <form action="https://rc-epay.esewa.com.np/api/epay/main/v2/form" method="POST">
                <input type="text" id="amount" name="amount" value="{{ order.get_total }}" required>
                <input type="text" id="tax_amount" name="tax_amount" value ="0" required>
                <input type="text" id="total_amount" name="total_amount" value="{{ order.get_total }}" required>
                <input type="text" id="transaction_uuid" name="transaction_uuid" value="{{uuid}}" required>
                <input type="text" id="product_code" name="product_code" value ="EPAYTEST" required>
                <input type="text" id="product_service_charge" name="product_service_charge" value="0" required>
                <input type="text" id="product_delivery_charge" name="product_delivery_charge" value="0" required>
                <input type="text" id="success_url" name="success_url" value="http://127.0.0.1:8000/verify-esewa" required>
                <input type="text" id="failure_url" name="failure_url" value="http://127.0.0.1:8000/checkout" required>
                <input type="text" id="signed_field_names" name="signed_field_names" value="total_amount,transaction_uuid,product_code" required>
                <input type="text" id="signature" name="signature" value="{{signature}}" required>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to {{method}}</button>

                </form>
              {% elif method == 'khalti' %}
              <form action="{% url 'core:initiate' %}" method="POST">
                {% csrf_token  %}
                <input type="text" name="purchase_order_id" value="{{uuid}}"  id="pid">
                <input type="text" name="amount" value="1000" id="amt">
                <input type="text" value="Pay With Khalti" name="" id="">
                <input type="text" name="return_url" value="http://127.0.0.1:8000/verify-khalti">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to {{method}}</button>
            </form>
             {% else %}
              <h2>Error</h2>
              {% endif %}
            
          </div>

        </div>

        <div class="col-md-4 mb-4">
          {% include "order_snippet.html" %}
        </div>

      </div>

    </div>
  </main>




    

{% endblock content %}

{% block extra_scripts %}
<script>
var hideable_shipping_form = $('.hideable_shipping_form');

var use_default_shipping = document.querySelector("input[name=use_default_shipping]");


use_default_shipping.addEventListener('change', function() {
  if (this.checked) {
    hideable_shipping_form.hide();
  } else {
    hideable_shipping_form.show();
  }
})


</script>
{% endblock extra_scripts %}
