{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Connections" %}{% endblock %}

{% block content %}
<main class="py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <div class="p-4 rounded-4 border">

          <h2 class="mb-4 text-center">{% trans "Account Connections" %}</h2>

          {% if form.accounts %}
            <p class="text-muted text-center">
              {% blocktrans %}You can sign in to your account using any of the following third-party accounts:{% endblocktrans %}
            </p>

            <form method="post" action="{% url 'socialaccount_connections' %}">
              {% csrf_token %}
              <fieldset>

                {% if form.non_field_errors %}
                <div id="errorMsg" class="alert alert-danger mb-4">
                  {{ form.non_field_errors }}
                </div>
                {% endif %}

                {% for base_account in form.accounts %}
                  {% with base_account.get_provider_account as account %}
                  <div class="d-flex align-items-center mb-3">
                    <input id="id_account_{{ base_account.id }}" type="radio" name="account" value="{{ base_account.id }}" class="me-2"/>
                    <span class="socialaccount_provider {{ base_account.provider }} {{ account.get_brand.id }} me-2">{{ account.get_brand.name }}</span>
                    <span class="text-muted">{{ account }}</span>
                  </div>
                  {% endwith %}
                {% endfor %}

                <div class="text-center">
                  <button type="submit" class="btn btn-danger mt-3">{% trans 'Remove' %}</button>
                </div>

              </fieldset>
            </form>

          {% else %}
            <p class="text-muted text-center">
              {% trans 'You currently have no social network accounts connected to this account.' %}
            </p>
          {% endif %}

          <h3 class="mt-5 text-center">{% trans 'Add a 3rd Party Account' %}</h3>

          <ul class="list-unstyled d-flex justify-content-center">
            {% include "socialaccount/snippets/provider_list.html" with process="connect" %}
          </ul>

          {% include "socialaccount/snippets/login_extra.html" %}

        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
